@font-face {
    font-family: "Montserrat-Bold";
    src: url(/fonts/Montserrat-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(/fonts/Montserrat-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}
a {
    text-decoration: none;
}
ul {
    padding-left: 0px;
}
li {
    list-style-type: none;
}
.container {
    max-width: 1143px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 60.5%;
}
.header-logo {
    display: block;
    background-image: url(/images/header-logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    display: flex;
    gap: 54px;
}
.header-nav a {
    font-family: "Montserrat-Regular";
    font-size: 18px;
    font-weight: 400;
    color: #2B3541;
    transition: 0.2s;
}
.header-nav a:hover {
    border-bottom: 1px solid #181F27;
    padding-bottom: 5px;
}
.social-link {
    display: flex;
    gap: 30px;
}
.social-link li {
    margin-left: 30px;
}
.social-link .link-inst {
    display: block;
    background-image:url(/images/instagramm.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.social-link .link-fb {
    display: block;
    background-image:url(/images/facebook.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.social-link a:hover {
    transform: scale(1.2);
    opacity: 1;
}
.content {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.text h1 {
    font-family: "Montserrat-Bold";
    font-weight: 700;
    font-size: 48px;
    color: #2B3541;
    max-width: 676px;
    margin-bottom: 40px;
    margin-top: 255px;
}
.text p {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-size: 40px;
    color: #2B3541;
    margin-bottom: 20px;
}
.text-info {
    margin-left:50px;
}
.text-info span {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-size: 18px;
    color: #2B3541;
    max-width: 297px;
    display: block;
    margin-bottom: 40px;
}
.text-info a {
    font-family: "Montserrat-Bold";
    font-weight: 700;
    font-size: 16px;
    color: #2B3541;
    background-color: #FBF138;
    padding: 20px 30px;
    align-items: center;
}
.text-info a:hover {
    color: #FBF138;
    background-color: #2B3541;
    transition: .5s;
}
.btn {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 52px;
    width: 53px;
    border-radius: 100%;
    border: 3px solid #2B3541;
    background-image: url(/images/btn-v.svg);
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    cursor: pointer;
    }
.visual {
    position: relative;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.visual-bg {
    width: 464px;
    height: 850px;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: 20%;
}
.visual img {
    width: 996px;
    height: 100%;
    right: -210px;
    position: absolute;
}
.info-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.info-grid-item {
    position: relative;
    overflow: hidden;
}
.info-title {
    font-family: "montserrat-bold";
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #2B3541;
    margin-top: 160px;
    margin-bottom: 40px;
}
.info-grid-cover {
    width: 100%;
    height: 598px;
    position: relative;
}
.gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 30%;
}
.info-grid-item:hover:nth-child(1) .gradient {
    opacity: 60%;
}
.info-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.info-grid-text {
    position: absolute;
    top: 30.3px;
    left: 30.3px;
}
.info-grid-title {
    font-family: "montserrat-bold";
    font-weight: 700;
    font-size: 28px;
    color: rgba(43, 53, 65, 1);
    max-width: 259px;
    margin: 0;
}
.info-grid-date {
    font-family: "montserrat-bold";
    font-weight: 700;
    font-size: 18px;
    color:rgba(43, 53, 65, 1);
    opacity: 60%;
    margin-top: 0;
    margin-bottom: 20px;
}
.info-grid-btn {
    position: absolute;
    border: none;
    background-color: #FBF138;
    padding: 15px 20.2px;
    bottom: 0px;
    right: 0px;
    cursor: pointer; 
}
.info-btn-text {
    color: rgba(43, 53, 65, 1);
    font-family: "montserrat-regular";
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 27px;
}
.info-grid-maraphon {
    border: none;
    padding: 0;
    margin-top: 40px;
    color: rgba(251, 241, 56, 1);
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
}
.info-grid-item:hover .info-grid-maraphon {
    opacity: 1;
}
.info-btn-maraphon {
    font-family: "montserrat-bold";
    font-weight: 700;
    font-size: 16px;
    color: rgba(251, 241, 56, 1);
    background-color: rgba(43, 53, 65, 1);
    padding: 20px 49px;
    text-align: center;
    z-index: 1;
}
.yoga {
    object-position: -408px;
}



